body {
    background-color: pink;
    
}

.box1 {
    background-color: aqua;
    height: 100px;
}

.box2 {
    background-color: #8e8effe1;
    height: 400px;
    width: 250px;
}

.box3 {
    background-color: #ff1515;
    height: 400px;
    margin-left: 280px;
    margin-top: -419px;
}

.box4 {
    background-color: aqua;
    height: 100px;
}

.cat {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 200px;
}

img {
    width: 120px;
    
}

h1 {
    text-align: center;
}